<ion-content fullscreen>

  <div id="map"></div> 
  <div id="info_pane" class="overlay">
    <h1>{{selected_station?.getTitle()}}</h1>
      <ion-item>
        
        <ion-range dualKnobs="true" min="0" max="100" step="3" snaps="true">
          <ion-label slot="start">{{selected_station?.getCurrentDeliveryPoint().getScheduledTime() || "10:00 Uhr"}}</ion-label>
            <ion-label slot="end">{{selected_station?.getCurrentDeliveryPoint().getDepartureTime() || "12:00 Uhr"}}</ion-label> 

            </ion-range>
        
      </ion-item>
        <ion-button class="animated fadeInUp" (click) ="show_products(selected_station)"  expand="full">Produkte ansehen</ion-button>    
    </div>    

</ion-content>

