#map {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.overlay {   
    z-index:99;
}

#info_pane {
    margin:20px;
}

ion-button {
    margin-top:20px;
    padding: 0px;
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    border: 0px;
}

ion-header::after {
    background-image: none;
}