<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/order"></ion-back-button>
    </ion-buttons> 
    <ion-title>Bestell&uuml;bersicht bei {{station.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngFor="let item of products">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Kaisersemmel-.jpg">
      </ion-avatar>
      <ion-label>
        <h2>{{item.title}}</h2>
        <h3>{{item.price}}</h3>
        <p class="ion-text-wrap">{{item.description}}</p>
        <h2>Anzahl: {{item.amount}}</h2>        
      </ion-label>
      <h3 item-right>{{amountTimesPrice(item.amount,item.price) | number:'.2-2':'en-DE'}} €</h3>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>      
      <ion-label>
        <h1>Gesamtkosten:</h1>
      </ion-label>
      <h2 slot="end">{{price | number:'.2-2':'en-DE'}} €</h2>      
    </ion-item>
 </ion-list>
  <ion-button (click) ="pay(price,'AWrOQBrGnWYrk4wzT8yGbCGNJqcIyyieIL_J0320wg0jcp1G2eiMdQ1wEJ4ePFo6Lzou8ILEvVX6cspc')"  expand="block">Mit Paypal bestellen</ion-button>
  <div id="paypal-button"></div>
 
</ion-content>
